:root {
    --white:#f5daf8;
    --darkpurple:#47214b; 
    --lightpurple:#683a6d;
    --magenta: #993366; 
}

html{
    background-color: var(--darkpurple);
    height: 100%;
}

body {
    background-color: var(--darkpurple);
}

header {
    background-color: #47214b; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--white);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.navbar{
    background-color: #47214b;
    padding: 5px;
}

.navbar-brand{
    background-color: #602060;  
    padding: 5px;
}

p.navbar-item{
    color: #f5daf8;
}

.navbar-burger{
    margin-top: auto;
    margin-bottom: auto;
    border: 2px  solid  var(--white);    
}

.navbar-burger span{
    color: #f5daf8;
}
a.navbar-item{
    font-size: larger;
}

a.navbar-item:hover{
    background-color: var(--lightpurple);
    color: var(--white)
}

.navbar-menu{
    background-color: #47214b;    
}

.navbar-end{
    min-height: fit-content;
}

.navbar-end a {
    color: var(--white)
}

.footer{
    position:relative;
    height: 10px;
    left:0;
    bottom:0;
    right:0;
    margin-top: 10px;
    background-color: var(--darkpurple);
}

@media screen and (max-width:800px){
    #about{
        padding-top: 30px;
    }
    #about img {
        visibility: hidden;
    }

    .heading h1{
        float: left;
    }
    .article {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-bottom: 0px;
        padding-top: 10px;
    }

    .heading {
        width: auto;
        border-style: none solid solid none;
    }

    #philip {
        display: none;
    }
    .content {
        align-self: center;
        width: 100%;
    }
    
    .content li {
        margin-right: 10px;
    }

    .card-small-flexbox {
        display: block;
    }

    .footer{
        visibility: hidden;
    }
}

@media screen and (max-width:520px) {

    .article{
        padding: 10px;
    }

    .content ul{
        margin-left: 0px;
    }

    .card-large > p {
        font-size: small;
    }

    .card-small-flexbox {
        display: block;
    }

    #contact .content {
        display: block;   
    }
    #contact .content a {
        margin-right: 10px;
    }
}